.fieldset {
	width: max-content;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	float: left;
	margin: 1rem;
}
.fieldset button[type="submit"] {
	grid-column: 1 / 3;
}
.fieldset legend {
	margin: auto;
}

.pagination {
	float: right;
}

.pagination input {
	width: 10ch;
}

.table {
	margin: auto;
}

.table tr:nth-child(10n){
	outline: 1px solid white;
}