.fieldset {
	width: max-content;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	float: left;
	margin: 1rem;
}
.fieldset button[type="submit"] {
	grid-column: 1 / 3;
}
.fieldset legend {
	margin: auto;
}

.pagination {
	float: right;
}

.pagination input {
	width: 10ch;
}

.table {
	margin: auto;
	border-collapse: collapse;
}

.table tr:nth-child(10n){
	border-bottom: 1px solid white;
}

.table tr:nth-child(10n) td {
  padding-bottom: 0.75rem;
}

.table tr:nth-child(10n+1) td {
  padding-top: 0.75rem;
}