.rankBadge {
	--color-rank-purple: #866cc7;
	--color-rank-blue: #1f87e7;
	--color-rank-yellow: #ecb613;
	--color-ui-white-rank-text: #e6e6e6;
	--color-legacy-unsat-red: #bb432c;
	--color-rank-black: #555;
	--color-rank-black-hex: var(--color-rank-black);
	--color-rank: var(var(--color-legacy-unsat-red));
	--color-legacy-blackout-txt: rgba(20, 20, 20, .7);
	--rank-hex-filter: none;
	--color-inner-small-hex-bg: #181919;
	position: relative;
	top: -2px;
	width: 34px;
	height: 26px;
	background-color: var(--color-rank);
	color: var(--color-legacy-blackout-txt);
	margin-right: 8px;
	margin-left: 8px;
	text-align: center;
	font-weight: 700;
	z-index: 1;
	text-shadow: none;
	line-height: 28px;
	font-size: 12px;
	filter: var(--rank-hex-filter);
}

.rankBadge::before {
	border-right-color: var(--color-rank);
	content: " ";
	width: 0;
	height: 0;
	border-right: 8px solid var(--color-rank);
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	position: absolute;
	left: -8px;
	z-index: 0;
}

.rankBadge::after {
	border-left-color: var(--color-rank);
	content: "";
	width: 0;
	position: absolute;
	right: -8px;
	top: 0;
	border-left: 8px solid var(--color-rank);
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	z-index: 0;
}

.rankBadge div {
	color: var(--color-rank);
	width: 32px;
	height: 22px;
	background-color: var(--color-inner-small-hex-bg);
	position: relative;
	margin-right: 6px;
	text-align: center;
	line-height: 22px;
	z-index: 1;
	text-shadow: none;
	margin-left: 1px;
	top: 2px;
	font-size: 11px;
}


.rankBadge div::before {
	content: " ";
	width: 0;
	height: 0;
	border-right: 6px solid var(--color-inner-small-hex-bg);
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	position: absolute;
	left: -6px;
	z-index: 0;
}

.rankBadge div::after {
	content: "";
	width: 0;
	position: absolute;
	right: -6px;
	top: 0;
	border-left: 6px solid var(--color-inner-small-hex-bg);
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	z-index: 2;
}

.rankBadge span {
	z-index: 2;
	position: relative;
}